footer {
    padding-inline: 12rem;
}

.social_logo {
    display: flex;
    justify-content: space-between;
    margin-top: 7.4rem;
}

.social_logo img {
    width: 11rem;
}

.social-icons {
    margin-top: 2.2rem;
    display: flex;
    gap: 3rem;
    margin-right: 1.4rem;
}

.social-icons a {
    color: black;
    font-size: 1.7rem;
}

.social-icons a:hover {
    opacity: 50%;
}

.prelast {
    display: flex;
    justify-content: space-between;
}

footer h5 {
    font-weight: bold;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 2.2rem;
}

.addressf {
    margin-top: 6.2rem;
}

.addressf p {
    font-size: 1.9rem;
    line-height: 2.47rem;
}

.sitemapf {
    margin-top: 6.2rem;
    position: relative;
    right: 6rem;
}

.sitemapf ul {
    list-style: none;
}

.sitemapf ul li {
    margin-top: 0.6rem;
}

.contactf {
    margin-top: 3.8rem;
    position: relative;
    right: 2rem;
}

.contactf p {
    margin-top: 1rem;
    line-height: 30px;
}

.map {
    margin-top: 4rem;
    width: fit-content;
    padding: 0 2.7rem;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.copyright {
    margin-top: 3rem;
    font-size: 1.7rem;
}

@media (max-width: 560px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .prelast {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social_logo {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contactf {
        justify-content: center;
    }
}

@media (max-width: 320px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .prelast {
        flex-wrap: wrap;
    }

    .social_logo {
        flex-wrap: wrap;
    }
}