header {
    display: flex;
    justify-content: space-between;
    margin: 0 7.4rem;
}

.header {
    margin-top: 4.1rem;
    margin-bottom: 1.3rem;
}

.email {
    color: black;
}

.nav {
    margin-top: 3.1rem;
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.burger-toggle {
    display: none;
}

.burger-btn {
    display: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 3.1rem;
}

.burger-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

header img {
    display: none;
}

@media (max-width: 768px) {
    .burger-btn {
        display: block;
    }

    .nav-container {
        display: none;
        width: 100%;
    }

    .nav {
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
        padding-bottom: 2rem;
    }

    .burger-toggle:checked ~ .nav-container {
        display: block;
    }
}

@media (max-width: 320px) {
    header img {
        margin-top: 15%;
        display: block;
        width: 10rem;
        height: 5.5rem;
    }

    header div {
        display: none;
    }
}