.web {
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
    overflow: hidden;
}

.web-content {
    max-width: 42.8rem;
    margin-left: 19rem;
    margin-top: 11.4rem;
}

.pc {
    width: 54vw;
    height: fit-content;
    margin-top: 13rem;
}
h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.web h2 {
    text-transform: uppercase;
    color: black;
    line-height: 4.55rem;
    word-break: break-word;
}

.bold2 {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-right: 0.6rem;
}

.regular4 {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin-right: 0.7rem;
}

.web h4 {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-top: 4.1rem;
    margin-bottom: 0.8rem;
}

.regular5 {
    font-size: 1.7rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    margin-left: 1rem;
}

.regular9 {
    font-size: 1.9rem;
    line-height: 2.47rem;
}

.phone {
    display: none;
}

.phone-div {
    display: none;
}

@media (max-width: 768px) {
    .pc {
        display: none;
    }

    .phone-div {
        display: block;
        overflow: hidden;
    }

    .phone {
        display: block;
        width: 30rem;
        height: auto;
    }

    .web {
        margin: 0 3.5rem;
        margin-top: 10rem;
    }

    .web-content {
        margin-left: 0;
        max-width: 100%;
    }

    .web h2 {
        font-size: 3.6rem;
    }

    .bold2 {
        font-size: 3.6rem;
    }

    .regular4 {
        font-size: 3.6rem;
    }
}
@media (max-width: 320px) {
    .phone-div {
        display: none;
    }
}