.hero {
  margin-top: 11.5rem;
}

.roby {
  display: flex;
  justify-content: center;
}

.name {
  max-width: 28.6%;
  height: auto;
  position: absolute;
  top: 6.1rem;
}

.moto {
  display: flex;
}

.man {
  width: 51.4%;
  height: 60rem;
  overflow: hidden;
  margin-left: 0.3rem;
  object-fit: cover;
}

.x1 {
  font-size: 6rem;
  margin-right: 0rem;
}

.x2 {
  font-size: 4.4rem;
  font-weight: 200;
}

.bold {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.regular {
  font-size: 4.9rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

h1 {
  color: black;
  margin-top: 10.6rem;
  margin-left: 5.9rem;
  line-height: 5.6rem;
  letter-spacing: 0%;
}

.circle-container {
  display: flex;
}

.circle {
  width: 14rem;
  height: 14rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin-top: 8rem;
  margin-left: 6rem;
  border: none;
}

.circle:hover {
  opacity: 50%;
}

@media (max-width: 768px) {
  .name {
    display: none;
  }

  .man {
    display: none;
  }

  .moto {
    justify-content: center;
    text-align: center;
    background-image: url(../../images/man2.png);
    margin-top: -8rem;
    background-repeat: no-repeat;
  }

  .moto h1 {
    color: aliceblue;
    margin-top: 58.5rem;
    margin-left: 0rem;
  }

  .circle {
    color: black;
    background-color: aliceblue;
    margin: 0 auto;
    border: none;
    margin-bottom: 2rem;
  }

  .x1 {
    margin-right: 0rem;
  }
}

@media (max-width: 560px) {
  .moto h1 {
    margin-top: 40rem;
  }
}
.partners {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.7rem;
  letter-spacing: 0%;
  margin-top: 12.6rem;
  margin-left: 0.3rem;
  color: black;
}

.style1 {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  margin-left: 9px;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.partners-icons {
  width: 80%;
  height: auto;
  margin-left: 6.2rem;
}

@media (max-width: 768px) {
  .partners-icons {
    width: 100vw;
    margin-right: 5rem;
    overflow: hidden;
    object-fit: cover;
  }
}
.work h2 {
  text-align: center;
  margin-left: 1.2rem;
  margin-top: -0.2rem;
  color: black;
  line-height: 6rem;
}

.bold {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.regular3 {
  font-size: 51px;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-left: 0.7rem;
}

.work-images {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.work-images img {
  width: 32.6vw;
  height: auto;
}

.left-part {
  margin-top: 1.2rem;
  text-align: center;
}

.right-part {
  margin-top: 11.2rem;
  text-align: center;
}

.work-images h4 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  margin-top: 3.7rem;
}

.work-images p {
  margin-top: 0.2rem;
  margin-bottom: 2.1rem;
  font-size: 1.8rem;
}
.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.add-work {
  margin-top: 2rem;
  text-align: center;
}

.add-work input {
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.add-work button {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-work button:hover {
  opacity: 0.7;
}

.work-images div button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.work-images div button:hover {
  opacity: 0.7;
}
@media (max-width: 320px) {
  .work-images {
    flex-direction: column;
  }

  .work-images img {
    width: 80vw;
  }

  .right-part {
    margin-top: 0rem;
  }
}
.web {
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
    overflow: hidden;
}

.web-content {
    max-width: 42.8rem;
    margin-left: 19rem;
    margin-top: 11.4rem;
}

.pc {
    width: 54vw;
    height: fit-content;
    margin-top: 13rem;
}
h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.web h2 {
    text-transform: uppercase;
    color: black;
    line-height: 4.55rem;
    word-break: break-word;
}

.bold2 {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-right: 0.6rem;
}

.regular4 {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin-right: 0.7rem;
}

.web h4 {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-top: 4.1rem;
    margin-bottom: 0.8rem;
}

.regular5 {
    font-size: 1.7rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    margin-left: 1rem;
}

.regular9 {
    font-size: 1.9rem;
    line-height: 2.47rem;
}

.phone {
    display: none;
}

.phone-div {
    display: none;
}

@media (max-width: 768px) {
    .pc {
        display: none;
    }

    .phone-div {
        display: block;
        overflow: hidden;
    }

    .phone {
        display: block;
        width: 30rem;
        height: auto;
    }

    .web {
        margin: 0 3.5rem;
        margin-top: 10rem;
    }

    .web-content {
        margin-left: 0;
        max-width: 100%;
    }

    .web h2 {
        font-size: 3.6rem;
    }

    .bold2 {
        font-size: 3.6rem;
    }

    .regular4 {
        font-size: 3.6rem;
    }
}
@media (max-width: 320px) {
    .phone-div {
        display: none;
    }
}