.section1 {
  margin-top: 12.4rem;
  display: flex;
  justify-content: space-between;
}

.agency {
  margin-left: 12rem;
}

.agency h2 {
  line-height: 6rem;
  color: black;
}

.bold {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.regular2 {
  font-size: 5.4rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.agency p {
  width: 379px;
  height: auto;
  font-size: 1.9rem;
  letter-spacing: 0%;
  line-height: 2.4rem;
  margin-top: 2.9rem;
}

.awwards {
  width: 39rem;
  margin-top: 21.5rem;
  margin-right: 11.3rem;
  margin-bottom: 8.9rem;
}

.awwards-title {
  display: flex;
  justify-content: space-between;
}

.awwards-title h4 {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.awwards ul {
  font-size: 1.9rem;
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 7.5rem;
}

.awwards li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  line-height: 2.4rem;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .agency {
    text-align: center;
    margin: 0 auto;
  }

  .agency p {
    text-align: justify;
    width: auto;
    margin: 0 3rem;
    margin-bottom: 5rem;
  }

  .awwards {
    flex: 1;
    margin: 0 3rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}